<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'home.classroom' | translate | uppercase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button value="newClassroom" (click)="onNewItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col sizeXs="10" sizeXl="3" *ngFor="let classroom of (getClassrooms() | async)">
        <app-classroom [classroom]="classroom" (onEdit)="onEditClassroom($event)"
          (onDelete)="onDeleteClassroom($event)"></app-classroom>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
