
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="light" size="small">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button fill="clear" color="success" (click)="onEditClick()" color="success">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button fill="clear" color="danger" (click)="onDeleteClick()" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

<ion-card class="ion-padding" color="white">
  <ion-card-header>
    <ion-card-title [hidden]="isLowResolution()">{{ classroom.docId}}</ion-card-title>
    <ion-card-subtitle>{{ classroom.level}} {{ classroom.grade }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>

  <ion-button >Action 1</ion-button>
  <ion-button >Action 2</ion-button>
</ion-card>
