<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="light" size="small">
    <ion-icon name="ellipsis-vertical"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    <ion-fab-button fill="clear" (click)="toProfile()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button fill="clear" (click)="onEditClick()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button fill="clear" (click)="onDeleteClick()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-title></ion-title>
</ion-fab>

<ion-card class="ion-padding" color="white">
  <ion-card-header>
    <ion-avatar>
      <ion-img *ngIf="!student.picture" alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
      <ion-img *ngIf="student.picture" alt="Person picture" [src]="student.picture"></ion-img>
    </ion-avatar>
    <ion-card-title>{{ student.level }} {{ student.grade }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-card-title>{{ student.surname }}, {{ student.name }}</ion-card-title>
    <ion-card-subtitle>{{ student.email }}</ion-card-subtitle>
  </ion-card-content>
</ion-card>