
ion-card{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}
